.signup-container-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    background: #eaeaea69;
    border-radius: 1rem;
    padding: 2rem;
    width: calc(30%);
}

.heading-text {
    text-align: center;
    font-size: 4vmin;
}

.signup-form .input-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    width: 100%;

    margin: 2rem 0;

    font-size: 2.7vmin;
}

.signup-form > div {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    display: none;
}

.signup-form input, select {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;

    font-size: 2.4vmin;
}

.btn-container {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.auth {
    width: 30%;
    background-color: blue;
    font-size: 2.7vmin;
}

.alt-link {
    width: max-content;
    text-align: right;
    font-size: 2.5vmin;
}