@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    background: linear-gradient(90deg, #000000, #ff3b3b);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #ffffff;
}

header {
    font-family: 'Open Sans', serif;
    font-size: 3.6vmin;
    background: linear-gradient(90deg, #000000, #ff3b3b);
    background-repeat: no-repeat;
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

li {
    margin-left: 5vw;
}

ul, li {
    list-style: none;
    display: flex;
}

.site {
    display: flex;
    padding: 1% 2%;
}

.site-name {
    padding-left: 2vw;
    letter-spacing: 5pt;
    font-weight: 600;
}

.btn {
    border-radius: 20pt;

    outline: none;
    border: none;
    cursor: pointer;

    font-size: inherit;
    color: inherit;
    
    padding: 0.5rem 1.25rem;
}

.login-btn {
    width: 13rem;
    background-color: #810d0d;    
}

.site-navigation {
    width: 100%;

    display: flex;
    justify-content: flex-end;

    padding: 1% 2%;

    font-size: 3.4vmin;
}