{% extends 'base.html' %}
{% load static %}

{% block title %}
    Heart Disease Prediction
{% endblock title %}

{% block head %}
    <link rel = 'stylesheet' type = 'text/css' href = "{% static 'css/index.css' %}">
{% endblock head %}

{% block body %}
    <div class = 'main-container'>
        <div class = 'left-container'>
            <div class = 'content-title'>
                Test Yourself,
                <br>
                Best Yourself.
                <br>
                <br>
            </div>
            <div class = 'content-subheading'>
                <strong><i>Are you at a risk of heart disease?</i></strong>
                <br>
                Take care of your heart health with our advanced risk prediction tool and personalised advice.
                <br>
                We aim to analyse all the objective symptoms that may lead to increase in heart ailments in future.
                <br>
                With our system you can get aware of your  vulnerability to any heart related complication in near future.
            </div>
        </div>
        <div class = 'right-container'>
            <img src = "{% static 'images/main.png' %}">
        </div>
    </div>
    <div class = 'sub-container'>
        <div class = 'content-title center'>
            <u>Our Mission</u>
        </div>
        <div class = 'content-subheading'>
            <strong>AT H.A.R.T</strong>,
            <br>
             We empower individuals with the requisite knowledge and tools ;to take control of their heart health.
             <br>
             We understand the importance of  <em>early detection and prevention</em> in reducing the risk of heart disease,hence we developed a <strong>comprehensive and easy-to-use platform</strong> accurately predicting your risk of developing heart disease and provides personalized advice to help lower that risk.
             <br>
        </div>
    </div>
    <div class = 'sub-container'>
        <div class = 'content-title center'>
            <u>Our Commitment</u>
        </div>
        <div class = 'content-subheading'>
            <strong>We</strong>,
            <br>
             Are commited to provide <strong>accurate,personalised and up-to-date information</strong> and strive to educate and engage our users on the importance of heart health and disease prevention
             <br>
             Our platform is regularly updated with the latest research and advancements in the field, ensuring that you recieve the most accurate and relevant advice.
             <br>
             <br>
        </div>
        <div class="highlight">
            <em>Don't wait until it's too late,
            <br>
            Start your journey to a Healthier Heart today.</em>
            <br>
        </div>
        <div class="highlight desc">
            Join us on our mission to improve heart health and reduce the risk of heart disease. Start your assessment today and take control of your heart health.
        </div>
    </div>
{% endblock body %}